---
title: Blog
layout: bare
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts

---
<div class="col">
	<div class="col-8">
		<header>
			<h1>Recent blog posts</h1>
		</header>
{% for post in page.pagination.items %}
		<article>
			<header>
				<h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
			</header>
			<div class="post">
	{{ post.blocks.content|raw }}
			</div>
	{% if post.meta.tags %}
			<p class="tags">
			Tags:
		{% for tag in post.meta.tags %}
				<a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
		{% endfor %}
			</p>
	{% endif %}
		</article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
		<nav>
	{% if page.pagination.previous_page %}
			<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>
	{% endif %}
			<br />
	{% if page.pagination.next_page %}
			<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>
	{% endif %}
			<br />
		</nav>
{% endif %}
	</div>
	<div class="col-4">
		<h3><a href="{{ site.url }}/files/64/7d/647D00415E9138E8CCC9F043DDC8F680.pdf">Resume [PDF]</a></h4>
		<h4>Find me on asocial media</h4>
		<ul class="nav">
			<li><a href="https://github.com/zabacad">GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/ian-shearin-a5911176">LinkedIn</a></li>
			<li><a href="https://twitter.com/zabacad">Twitter</a></li>
		</ul>
	</div>
</div>
